<div class="flex flex-col lg:flex-row flex-1 min-h-full">
  <div class="w-full flex lg:flex-col gap-2 p-3 border-b-2 border-b-slate-300 
  overflow-x-auto whitespace-nowrap lg:flex-1 lg:border-r-2 lg:border-r-slate-300
  lg:border-b-0">
    <a class="py-2 px-3 hover:bg-gray-300 rounded-md transition-colors 
          cursor-pointer font-medium sm:text-lg flex-1 text-center lg:text-start lg:flex-none"
      (click)="changeSelected('orders')"
      [ngClass]="{'selected': ordersIsActive}"
      routerLink="orders/active">Pedidos</a>
    <a class="py-2 px-3 hover:bg-gray-300 rounded-md transition-colors 
          cursor-pointer font-medium sm:text-lg flex-1 text-center lg:text-start lg:flex-none"
      (click)="changeSelected('address')"
      [ngClass]="{'selected': addressIsActive}"
      routerLink="address">Direcciones</a>
    <a class="py-2 px-3 hover:bg-gray-300 rounded-md transition-colors 
          cursor-pointer font-medium sm:text-lg flex-1 text-center lg:text-start lg:flex-none"
      (click)="changeSelected('data')"
      [ngClass]="{'selected': dataIsActive}"
      routerLink="data">Datos</a>
    <a class="py-2 px-3 hover:bg-gray-300 rounded-md transition-colors 
          cursor-pointer font-medium sm:text-lg flex-1 text-center lg:text-start lg:flex-none"
      (click)="openCloseSessionDialog()">Cerrar sesión</a>
  </div>
  <div class="lg:flex-[3] w-full p-5">
    <router-outlet></router-outlet>
  </div>
</div>
