<div class="flex min-h-full">
  <div class="w-[60%] flex flex-col gap-3 pt-5 pl-20 flex-1">
    
    <div class="flex flex-col items-center gap-2">
      <div>
        <mat-icon fontIcon="verified" class="text-green-500 !text-8xl !w-full !h-full"></mat-icon>
      </div>
      <p class="text-2xl font-medium">¡Tu pedido ha sido realizado con éxito!</p>
    </div>
    <div class="flex flex-col gap-3">
      <p>Gracias por tu compra</p>
      <p>Te agradecemos la confianza en nuestra tienda</p>
      <div>
        <p>Número de pedido</p>
        <p class="font-medium text-neutral-500">{{ order?.id }}</p>
      </div>
    </div>
    @if(paymentOptionIsCreditCard()) {
      <p class="text-lg font-medium">Por favor, complete a continuación el pago de tu pedido</p>
      <div>
        <form class="py-5 w-[95%] flex flex-col" [formGroup]="checkOutForm" (ngSubmit)="onSubmit()">
          <div class="border rounded-md p-5 flex flex-col gap-5">
            <p class="text-lg font-medium">Tarjeta</p>
            <div class="flex flex-col gap-1">
              <label class="font-medium text-sm" for="cardHolder">Nombre del titular de la tarjeta</label>
              <input 
                class="w-full px-4 py-3 border border-gray-400 rounded-md outline-none
                transition hover:border-red-400" 
                type="text"
                id="cardHolder"
                placeholder="Nombre Apellidos"
                formControlName="cardHolder"
                [class.invalid]="invalidCardHolder()"
              >
              @if(cardHolderHasRequiredError()) {
                <span class="text-red-600">Este campo es obligatorio</span>
              }
            </div>

            <div class="flex flex-col gap-1">
              <label class="font-medium text-sm" for="cardNumber">Número de tarjeta</label>
              <div class="flex border border-gray-400 rounded-md transition hover:border-red-400" [class.invalid]="invalidCardNumber()">
                <input 
                  type="text" 
                  name="cardNumber" 
                  class="w-full rounded-md px-4 py-3 outline-none" 
                  id="cardNumber"
                  placeholder="1234 1234 1234 1234"
                  formControlName="cardNumber"
                >
                <div class="bg-white rounded-md flex justify-center items-center gap-1 px-3">
                  <img src="https://backend.byteshop.com/images/visa.svg" alt="" class="w-8">
                  <img src="https://backend.byteshop.com/images/mastercard.svg" alt="" class="w-8">
                </div>
              </div>
              @if(cardNumberHasRequiredError()) {
                <span class="text-red-600">Este campo es obligatorio</span>
              }
              @if(cardNumberHasPatternError()) {
                <span class="text-red-600">El número de tarjeta debe tener al menos 12 dígitos</span>
              }
            </div>

            <div class="flex gap-5">
              <div class="flex-1 flex flex-col gap-1">
                <label class="font-medium text-sm" for="expireDate">Fecha de caducidad</label>
                <input 
                  class="w-full px-4 py-3 border border-gray-400 rounded-md outline-none transition hover:border-red-400" 
                  type="text"
                  id="expireDate"
                  placeholder="MM/AA"
                  formControlName="expireDate"
                  [class.invalid]="invalidExpireDate()"
                >
                @if(expireDateHasRequiredError()) {
                  <span class="text-red-600">Este campo es obligatorio</span>
                }
                @if(expireDateHasPatternError()) {
                  <span class="text-red-600">Este campo debe de tener el formato correcto de mes y año</span>
                }
                @if(expireDateHasValueError()) {
                  <span class="text-red-600">La fecha de vencimiento ya pasó</span>
                }
              </div>
              <div class="flex-1  flex flex-col gap-1">
                <label class="font-medium text-sm" for="securityCode">Código de serguridad</label>
                <input 
                  class="w-full px-4 py-3 border border-gray-400 rounded-md outline-none transition hover:border-red-400" 
                  type="text"
                  id="securityCode"
                  placeholder="CVV"
                  formControlName="securityCode"
                  [class.invalid]="invalidSecurityCode()"
                >
                @if(securityCodeHasRequiredError()) {
                  <span class="text-red-600">Este campo es obligatorio</span>
                }
                @if(securityCodeHasPatternError()) {
                  <span class="text-red-600">Este campo debe de tener 3 dígitos</span>
                }
              </div>
            </div>

            <button 
              class="flex-auto bg-red-600 text-white rounded-md py-3 transition hover:bg-red-700"
              type="submit"
            >
              Pagar
            </button>

          </div>
        </form>
      </div>
    }
    <div class="flex justify-center items-center gap-5 mb-3">
      <button 
        class="border rounded-md py-2 px-6 transition outline-none hover:border-gray-400 active:scale-95"
        routerLink="/account/orders/active"
      >Ir a mis pedidos</button>
      <button 
        class="border rounded-md py-2 px-6 bg-red-600 text-white outline-none transition hover:bg-red-700 active:scale-95"
        routerLink="/home"
      >Seguir comprando</button>
    </div>

  </div>

  <div class="bg-gray-200 w-[40%] py-10 px-10">

    <div class="flex flex-col gap-7">
      <p class="text-3xl font-medium">Datos de tu pedido</p>
      <div>
        <p class="font-medium text-lg">Número de tu pedido</p>
        <p>{{ order?.id }}</p>
      </div>
      <div>
        <p class="font-medium text-lg">Total</p>
        <p>{{ order?.total| currency:'EUR' }}</p>
      </div>
      <div>
        <p class="font-medium text-lg">Método de envío</p>
        <p>{{ getShippingMethodDescription() }}</p>
      </div>
      <div>
        <p class="font-medium text-lg">Métodos de pago</p>
        <p>{{ getPaymentOptionDescription() }}</p>
      </div>
      <div>
        <p class="font-medium text-lg">Información adicional</p>
        <p>{{ getPaymentOptionAddtionalInformation() }}</p>
      </div>
    </div>
    
  </div>
</div>

