<div class="flex flex-col lg:flex-row flex-1">
  <div class="lg:w-[60%] flex flex-col gap-3 p-5 sm:p-10 lg:p-7 lg:pt-5 lg:pl-20 flex-1">
    
    <div class="flex flex-col items-center gap-2">
      <div>
        <mat-icon fontIcon="verified" class="text-green-500 !text-8xl !w-full !h-full"></mat-icon>
      </div>
      <h1 class="text-xl md:text-2xl text-center font-bold">¡Tu pedido ha sido realizado con éxito!</h1>
    </div>
    <div class="flex flex-col gap-3">
      <p class="text-lg">Gracias por tu compra</p>
      <p class="text-lg">Te agradecemos la confianza en nuestra tienda</p>
      <div>
        <p class="text-lg">Número de pedido</p>
        <p class="font-medium text-neutral-500 text-md">{{ order?.id }}</p>
      </div>
    </div>
    @if(paymentOptionIsCreditCard()) {
      <p class="text-lg font-medium">Por favor, complete a continuación el pago de tu pedido</p>
      <div class="flex flex-col gap-3">
        <form class="border border-slate-300 rounded-md flex flex-col gap-5 p-3 sm:p-5" [formGroup]="checkOutForm" (ngSubmit)="onSubmit()">
          <h2 class="font-semibold text-xl">Tarjeta</h2>
          <div class="flex flex-col gap-1">
            <label class="font-medium" for="cardHolder">Nombre del titular de la tarjeta</label>
            <input 
              class="w-full px-4 py-3 border border-gray-400 rounded-md outline-none
              transition hover:border-red-400" 
              type="text"
              id="cardHolder"
              placeholder="Nombre Apellidos"
              formControlName="cardHolder"
              [class.invalid]="invalidCardHolder()"
            >
            @if(cardHolderHasRequiredError()) {
              <span class="text-red-600">Este campo es obligatorio</span>
            }
          </div>

          <div class="flex flex-col gap-1">
            <label class="font-medium" for="cardNumber">Número de tarjeta</label>
            <div class="flex border border-gray-400 rounded-md transition hover:border-red-400" [class.invalid]="invalidCardNumber()">
              <input 
                type="text" 
                name="cardNumber" 
                class="w-full rounded-md px-4 py-3 outline-none" 
                id="cardNumber"
                placeholder="1234 1234 1234 1234"
                formControlName="cardNumber"
              >
              <div class="bg-white rounded-md flex flex-col sm:flex-row justify-center items-center gap-1 px-3">
                <img [src]="getImage('visa.svg')" class="w-8">
                <img [src]="getImage('mastercard.svg')" class="w-8">
              </div>
            </div>
            @if(cardNumberHasRequiredError()) {
              <span class="text-red-600">Este campo es obligatorio</span>
            }
            @if(cardNumberHasPatternError()) {
              <span class="text-red-600">El número de tarjeta debe tener al menos 12 dígitos</span>
            }
          </div>

          <div class="flex flex-col sm:flex-row gap-5">
            <div class="flex-1 flex flex-col gap-1">
              <label class="font-medium" for="expireDate">Fecha de caducidad</label>
              <input 
                class="w-full px-4 py-3 border border-gray-400 rounded-md outline-none transition hover:border-red-400" 
                type="text"
                id="expireDate"
                placeholder="MM/AA"
                formControlName="expireDate"
                [class.invalid]="invalidExpireDate()"
              >
              @if(expireDateHasRequiredError()) {
                <span class="text-red-600">Este campo es obligatorio</span>
              }
              @if(expireDateHasPatternError()) {
                <span class="text-red-600">Este campo debe de tener el formato correcto de mes y año</span>
              }
              @if(expireDateHasValueError()) {
                <span class="text-red-600">La fecha de vencimiento ya pasó</span>
              }
            </div>
            <div class="flex-1  flex flex-col gap-1">
              <label class="font-medium" for="securityCode">Código de serguridad</label>
              <input 
                class="w-full px-4 py-3 border border-gray-400 rounded-md outline-none transition hover:border-red-400" 
                type="text"
                id="securityCode"
                placeholder="CVV"
                formControlName="securityCode"
                [class.invalid]="invalidSecurityCode()"
              >
              @if(securityCodeHasRequiredError()) {
                <span class="text-red-600">Este campo es obligatorio</span>
              }
              @if(securityCodeHasPatternError()) {
                <span class="text-red-600">Este campo debe de tener 3 dígitos</span>
              }
            </div>
          </div>

          <button 
            class="flex-auto bg-red-600 text-white rounded-md py-3 transition hover:bg-red-700"
            type="submit"
          >
            Pagar
          </button>
        </form>
        <div class="flex justify-center items-center gap-5 mb-3">
          <button 
            class="border border-slate-300 rounded-md py-2 px-6 transition outline-none hover:border-gray-400 active:scale-95"
            routerLink="/account/orders/active"
          >Ir a mis pedidos</button>
          <button 
            class="border rounded-md py-2 px-6 bg-red-600 text-white outline-none transition hover:bg-red-700 active:scale-95"
            routerLink="/home"
          >Seguir comprando</button>
        </div>
      </div>
    } @else {
      <div class="flex justify-center items-center gap-5 mb-3">
        <button 
          class="border rounded-md py-2 px-6 transition outline-none hover:border-gray-400 active:scale-95"
          routerLink="/account/orders/active"
        >Ir a mis pedidos</button>
        <button 
          class="border rounded-md py-2 px-6 bg-red-600 text-white outline-none transition hover:bg-red-700 active:scale-95"
          routerLink="/home"
        >Seguir comprando</button>
      </div>
    }

  </div>

  <div class="bg-gray-200 lg:w-[40%] p-5 sm:p-10 lg:p-7">

    <div class="flex flex-col gap-4">
      <h1 class="text-2xl font-bold">Datos de tu pedido</h1>
      <div>
        <p class="font-medium text-lg">Número de tu pedido</p>
        <p>{{ order?.id }}</p>
      </div>
      <div>
        <p class="font-medium text-lg">Total</p>
        <p>{{ order?.total| currency:'EUR' }}</p>
      </div>
      <div>
        <p class="font-medium text-lg">Método de envío</p>
        <p>{{ getShippingMethodDescription() }}</p>
      </div>
      <div>
        <p class="font-medium text-lg">Métodos de pago</p>
        <p>{{ getPaymentOptionDescription() }}</p>
      </div>
      <div>
        <p class="font-medium text-lg">Información adicional</p>
        <p>{{ getPaymentOptionAddtionalInformation() }}</p>
      </div>
    </div>
    
  </div>
</div>

