<div class="p-5 flex flex-col justify-center gap-3">

  <div class="flex flex-col gap-3">
    <h1 class="text-2xl font-bold">Pedidos en tienda</h1>
    <p class="text-lg">Selecciona el pedido en tienda a ser entregado a su cliente</p>
  </div>

  <div class="flex flex-col gap-3">
    @for (orderInShop of ordersInShop; track orderInShop.id) {
      <div 
        class="flex flex-col sm:flex-row justify-between p-3 gap-2 shadow-md bg-white rounded-lg cursor-pointer transition-shadow hover:shadow-lg" 
        (click)="openDialog(orderInShop.id)"
      >
        <div class="flex gap-3">
          <img 
            [src]="getImage(orderInShop.imagen)" 
            alt="Imagen producto pedido"
            class="w-20 border"
          >
          <div class="flex flex-col">
            <p class="text-black">Nº Pedido {{ orderInShop.id }}</p>
            <p class="text-neutral-500">{{ getFormattedDate(orderInShop.fecha_creacion) }}</p>
          </div>
        </div>
        <p class="text-black font-medium">Total: {{ orderInShop.total | currency:'EUR' }}</p>
      </div>
    } @empty {
      <div class="flex flex-col text-center">
        <div class="flex items-center justify-center">
          <mat-icon class="material-symbols-outlined text-7xl !w-full !h-full" fontIcon="orders" />
        </div>
        <p class="text-xl">No tiene ningún pedido en la tienda en este momento</p>
      </div>
    }
  </div>

</div>
