<mat-toolbar class="justify-between !relative !z-10 !shadow-md">
  <div class="flex items-center">
    <button mat-icon-button class="example-icon" (click)="changeOpenedState()">
      <mat-icon>menu</mat-icon>
    </button>
    <a routerLink="home">
      <img src="img/byteShopLogo.png" class="w-16 m-3" alt="Logo de la tienda">
    </a>
  </div>
  <div>
    <button mat-icon-button matBadge="1" class="mr-6">
      <mat-icon>bookmarks</mat-icon>
    </button>
    <button mat-icon-button matBadge="1">
      <mat-icon>shopping_cart</mat-icon>
    </button>
  </div>
</mat-toolbar>
