<mat-toolbar class="justify-between !relative !z-10 !shadow-md">
  <div class="flex items-center">
    <button mat-icon-button class="example-icon" (click)="changeOpenedState()">
      <mat-icon>menu</mat-icon>
    </button>
    <a routerLink="home">
      <img src="img/byteShopLogo.png" class="w-16 m-3" alt="Logo de la tienda">
    </a>
  </div>
  <div>
    <div class="flex items-center">
      @if(isLoggedIn && isClient()) {
        <button
        mat-button
        disableRipple="true"
        routerLink="account/orders/active">
          <div class="flex items-center mr-3">
            <mat-icon fontIcon="person" class="mr-2"></mat-icon>
            <p class="text-base">Mi cuenta</p>
          </div>
        </button>
      } @else if(isLoggedIn && isEmployee()) {
        <button
        mat-button
        disableRipple="true"
        routerLink="dashboard">
          <div class="flex items-center mr-3">
            <mat-icon fontIcon="space_dashboard" class="mr-2"></mat-icon>
            <p class="text-base">Dashboard</p>
          </div>
        </button>
      } @else {
        <button
        mat-button
        disableRipple="true"
        routerLink="login">
          <div class="flex items-center mr-3">
            <mat-icon fontIcon="login" class="mr-2"></mat-icon>
            <p class="text-base">Iniciar sesión</p>
          </div>
        </button>
      }
      <button
        mat-icon-button
        matBadge="1"
        matBadgeHidden="true"
        disableRipple="true"
        class="mr-6">
        <mat-icon>bookmarks</mat-icon>
      </button>
      <button
        mat-icon-button
        [matBadge]="cart.items.length + cart.pcs.length"
        [matBadgeHidden]="cart.items.length === 0 && cart.pcs.length === 0"
        [matMenuTriggerFor]="cart.items.length === 0 && cart.pcs.length === 0 ? null: menu"
        disableRipple="true">
        <mat-icon>shopping_cart</mat-icon>
      </button>
    </div>
    <mat-menu #menu="matMenu" class="mt-2 p-4 !max-w-[700px] !min-w-[400px] !bg-white !overflow-y-hidden">
      <p class="mb-2">Productos en tu cesta ({{ cart.items.length }})</p>
      <div class="overflow-x-hidden max-h-[320px] mb-3">
        @for(pc of cart.pcs; track $index) {
          <div class="flex mb-3 max-w-[400px]">
            @if(getBox(pc)) {
              <img [src]="'http://localhost:8080/images/' + getBox(pc)!.image" alt="Imagen del producto" class="mr-3 max-w-36 max-h-36">
            } @else {
              <img src="http://localhost:8080/images/default_pc.png" alt="Imagen del producto" class="mr-3 max-w-36 max-h-36">
            }
            <div class="flex flex-col">
              <p class="mb-2">Ordenador personalizado</p>
              <div class="h-full flex flex-col justify-end">
                @if(someComponentHasDiscount(pc)) {
                  <p class="text-slate-500 line-through">{{ getTotalWithoutDiscount(pc) | currency:'EUR' }}</p>
                  <p class="text-red-600 text-xl mr-2">{{ getTotalWithDiscount(pc) | currency:'EUR' }}</p>
                } @else {
                  <p class="text-red-600 text-xl">{{ getTotalWithoutDiscount(pc) | currency:'EUR' }}</p>
                }
              </div>
            </div>
          </div>
          <hr class="mb-3 border-gray-300" />
        }
        @for(item of cart.items; track item.id; let last = $last) {
          <div class="flex mb-3 max-w-[400px]">
            <img [src]="'http://localhost:8080/images/' + item.image" alt="Imagen del producto" class="mr-3 max-w-36 max-h-36">
            <div class="flex flex-col">
              <p class="mb-2">{{ item.name }}</p>
              <p class="text-gray-500 mb-2">Unidades: <b class="text-black">{{ item.units }}</b></p>
              <div class="h-full flex flex-col justify-end">
                @if(item.discount) {
                  <p class="text-slate-500 line-through">{{ item.price | currency:'EUR' }}</p>
                  <div class="flex">
                    <p class="text-red-600 text-xl mr-2">{{ (item.price * item.units * (100 - item.discount) / 100) | currency:'EUR' }}</p>
                    <div class="bg-red-600 rounded-full px-2.5 text-white text-sm flex items-center">
                      <span>Dto. {{ item?.discount }}%</span>
                    </div>
                  </div>
                } @else {
                  <p class="text-red-600 text-xl">{{ item.price * item.units | currency:'EUR' }}</p>
                }
              </div>
            </div>
          </div>
          @if(!last) {
            <hr class="mb-3 border-gray-300" />
          }
        }
      </div>
      <hr class="mb-3 border-gray-300" />
      <div class="flex justify-between">
        <div class="w-6/12 mr-5">
          <p>Total <span>(IVA incluido)</span></p>
          <p>Gastos de envío</p>
          <button class="w-full bg-white active:bg-slate-200 active:shadow-md text-black
            border-gray-300 border py-2 mt-1 rounded-md mt-3"
            routerLink="shopping-basket">Ver cesta</button>
        </div>
        <div class="text-right w-6/12">
          <p>{{ getTotal() | currency:'EUR' }}</p>
          <p>Por calcular</p>
          <button 
            class="w-full bg-red-600 active:bg-red-800 active:shadow-lg text-white
            py-2 mt-1 rounded-md mt-3"
            (click)="processCheckout()"
            >Realizar pedido</button>
        </div>
      </div>
    </mat-menu>
  </div>
</mat-toolbar>
