<div class="flex flex-col gap-5">
  <h1 class="text-xl font-medium">CONFIGURADOR BYTESHOP</h1>

    <div class="flex flex-col lg:flex-row gap-5">
      @if(hasBox()) {
        <img 
          [src]="getImage(this.pcConfiguratorService.getProduct('pc-towers-and-enclosures')?.image)" 
          alt="Imagen de la caja"
          class="sm:mx-auto lg:mx-0 max-w-[500px] max-h-[500px] lg:max-w-[300px] lg:max-h-[300px]"
        >
      } @else {
        <img [src]="getImage('default_pc.png')" alt="Imagen de la caja" class="sm:mx-auto lg:mx-0 max-w-[500px] max-h-[500px] lg:max-w-[300px] lg:max-h-[300px]">
      }
      <div class="flex flex-col gap-3 flex-grow">
        
        <div class="flex flex-col md:flex-row gap-2 md:gap-5 font-medium text-lg">
          <div 
            class="flex items-center md:justify-center gap-2 cursor-pointer md:flex-1" 
            [ngClass]="{'border-b-2 border-black': componentsTabActive, 'text-neutral-300': !componentsTabActive}"
            (click)="changeActiveTabToComponentTab()"
          >
            <p>COMPONENTES</p>
            <div 
              class="flex items-center justify-center w-5 h-5 rounded-full text-white text-base" 
              [ngClass]="{'bg-black': componentsTabActive, 'bg-neutral-300': !componentsTabActive}"
            >
              <span>{{ this.pcConfiguratorService.getTotalComponents() }}</span>
            </div>
          </div>

          <div 
            class="flex items-center cursor-pointer md:justify-center md:flex-1"
            [ngClass]="{'border-b-2 border-black': assemblyTabActive, 'text-neutral-300': !assemblyTabActive}"
            (click)="changeActiveTabToAssemblyTab()"
          >
            <p>MONTAJE</p>
          </div>
          
        </div>

        @if(componentsTabActive || peripheralsTabActive) {
          <div class="grid grid-cols-1 md:grid-cols-2 gap-y-3 gap-x-3">

            <div 
              class="flex flex-col justify-around bg-white rounded-md py-5 px-5 gap-3 cursor-pointer"
              (click)="goToProductSelectionByCategory('processors')"
            >
              <div class="flex items-center gap-2">
                <img [src]="getImage('processor.svg')" alt="Icono procesador" class="w-5 h-5">
                <p class="text-sm">PROCESADOR</p>
              </div>
              <div class="flex items-center text-neutral-400 gap-2">
                @if(this.pcConfiguratorService.exists('processors')) {
                  <div class="px-2">
                    <mat-icon fontIcon="check_circle" class="text-green-600 p" />
                  </div>
                  <img 
                    [src]="getImage(this.pcConfiguratorService.getProduct('processors')?.image)" 
                    alt="Imagen del producto"
                    class="w-12 h-12"
                  >
                  <p class="text-black text-md">{{ this.pcConfiguratorService.getProduct('processors')?.name }}</p>
                } @else {
                  <mat-icon fontIcon="add" />
                  <p>Seleccionar componente</p>
                }
              </div>
            </div>
  
            <div 
              class="flex flex-col justify-around bg-white rounded-md py-5 px-5 gap-3 cursor-pointer"
              (click)="goToProductSelectionByCategory('motherboards')"
            >
              <div class="flex items-center gap-2">
                <img [src]="getImage('motherboard.svg')" alt="Icono procesador" class="w-5 h-5">
                <p class="text-sm">PLACA BASE</p>
              </div>
              <div class="flex items-center text-neutral-400 gap-2">
                @if(this.pcConfiguratorService.exists('motherboards')) {
                  <div class="px-2">
                    <mat-icon fontIcon="check_circle" class="text-green-600 p" />
                  </div>
                  <img 
                    [src]="getImage(this.pcConfiguratorService.getProduct('motherboards')?.image)" 
                    alt="Imagen del producto"
                    class="w-12 h-12"
                  >
                  <p class="text-black text-md">{{ this.pcConfiguratorService.getProduct('motherboards')?.name }}</p>
                } @else {
                  <mat-icon fontIcon="add" />
                  <p>Seleccionar componente</p>
                }
              </div>
            </div>
  
            <div 
              class="flex flex-col justify-around bg-white rounded-md py-5 px-5 gap-3 cursor-pointer"
              (click)="goToProductSelectionByCategory('ram')"
            >
              <div class="flex items-center gap-2">
                <img [src]="getImage('RAM.svg')" alt="Icono procesador" class="w-5 h-5">
                <p class="text-sm">RAM</p>
              </div>
              <div class="flex items-center text-neutral-400 gap-2">
                @if(this.pcConfiguratorService.exists('ram')) {
                  <div class="px-2">
                    <mat-icon fontIcon="check_circle" class="text-green-600 p" />
                  </div>
                  <img 
                    [src]="getImage(this.pcConfiguratorService.getProduct('ram')?.image)" 
                    alt="Imagen del producto"
                    class="w-12 h-12"
                  >
                  <p class="text-black text-md">{{ this.pcConfiguratorService.getProduct('ram')?.name }}</p>
                } @else {
                  <mat-icon fontIcon="add" />
                  <p>Seleccionar componente</p>
                }
              </div>
            </div>
  
            <div 
              class="flex flex-col justify-around bg-white rounded-md py-5 px-5 gap-3 cursor-pointer"
              (click)="goToProductSelectionByCategory('cpu-cooler')"
            >
              <div class="flex items-center gap-2">
                <img [src]="getImage('cpu_cooler.svg')" alt="Icono procesador" class="w-5 h-5">
                <p class="text-sm">DISIPADOR CPU</p>
              </div>
              <div class="flex items-center text-neutral-400 gap-2">
                @if(this.pcConfiguratorService.exists('cpu-cooler')) {
                  <div class="px-2">
                    <mat-icon fontIcon="check_circle" class="text-green-600 p" />
                  </div>
                  <img 
                    [src]="getImage(this.pcConfiguratorService.getProduct('cpu-cooler')?.image)" 
                    alt="Imagen del producto"
                    class="w-12 h-12"
                  >
                  <p class="text-black text-md">{{ this.pcConfiguratorService.getProduct('cpu-cooler')?.name }}</p>
                } @else {
                  <mat-icon fontIcon="add" />
                  <p>Seleccionar componente</p>
                }
              </div>
            </div>
  
            <div 
              class="flex flex-col justify-around bg-white rounded-md py-5 px-5 gap-3 cursor-pointer"
              (click)="goToProductSelectionByCategory('graphic-cards')"  
            >
              <div class="flex items-center gap-2">
                <img [src]="getImage('graphics_card.svg')" alt="Icono procesador" class="w-5 h-5">
                <p class="text-sm">TARJETA GRÁFICA</p>
              </div>
              <div class="flex items-center text-neutral-400 gap-2">
                @if(this.pcConfiguratorService.exists('graphic-cards')) {
                  <div class="px-2">
                    <mat-icon fontIcon="check_circle" class="text-green-600 p" />
                  </div>
                  <img 
                    [src]="getImage(this.pcConfiguratorService.getProduct('graphic-cards')?.image)" 
                    alt="Imagen del producto"
                    class="w-12 h-12"
                  >
                  <p class="text-black text-md">{{ this.pcConfiguratorService.getProduct('graphic-cards')?.name }}</p>
                } @else {
                  <mat-icon fontIcon="add" />
                  <p>Seleccionar componente</p>
                }
              </div>
            </div>
  
            <div 
              class="flex flex-col justify-around bg-white rounded-md py-5 px-5 gap-3 cursor-pointer"
              (click)="goToProductSelectionByCategory('storage')"  
            >
              <div class="flex items-center gap-2">
                <img [src]="getImage('storage.svg')" alt="Icono procesador" class="w-5 h-5">
                <p class="text-sm">ALMACENAMIENTO</p>
              </div>
              <div class="flex items-center text-neutral-400 gap-2">
                @if(this.pcConfiguratorService.exists('storage')) {
                  <div class="px-2">
                    <mat-icon fontIcon="check_circle" class="text-green-600 p" />
                  </div>
                  <img 
                    [src]="getImage(this.pcConfiguratorService.getProduct('storage')?.image)" 
                    alt="Imagen del producto"
                    class="w-12 h-12"
                  >
                  <p class="text-black text-md">{{ this.pcConfiguratorService.getProduct('storage')?.name }}</p>
                } @else {
                  <mat-icon fontIcon="add" />
                  <p>Seleccionar componente</p>
                }
              </div>
            </div>
  
            <div 
              class="flex flex-col justify-around bg-white rounded-md py-5 px-5 gap-3 cursor-pointer"
              (click)="goToProductSelectionByCategory('power-supplies')"  
            >
              <div class="flex items-center gap-2">
                <img [src]="getImage('power_supply.svg')" alt="Icono procesador" class="w-5 h-5">
                <p class="text-sm">FUENTE ALIMENTACIÓN</p>
              </div>
              <div class="flex items-center text-neutral-400 gap-2">
                @if(this.pcConfiguratorService.exists('power-supplies')) {
                  <div class="px-2">
                    <mat-icon fontIcon="check_circle" class="text-green-600 p" />
                  </div>
                  <img 
                    [src]="getImage(this.pcConfiguratorService.getProduct('power-supplies')?.image)" 
                    alt="Imagen del producto"
                    class="w-12 h-12"
                  >
                  <p class="text-black text-md">{{ this.pcConfiguratorService.getProduct('power-supplies')?.name }}</p>
                } @else {
                  <mat-icon fontIcon="add" />
                  <p>Seleccionar componente</p>
                }
              </div>
            </div>
  
            <div 
              class="flex flex-col justify-around bg-white rounded-md py-5 px-5 gap-3 cursor-pointer"
              (click)="goToProductSelectionByCategory('pc-towers-and-enclosures')"
            >
              <div class="flex items-center gap-2">
                <img [src]="getImage('box.svg')" alt="Icono procesador" class="w-5 h-5">
                <p class="text-sm">CAJA</p>
              </div>
              <div class="flex items-center text-neutral-400 gap-2">
                @if(this.pcConfiguratorService.exists('pc-towers-and-enclosures')) {
                  <div class="px-2">
                    <mat-icon fontIcon="check_circle" class="text-green-600 p" />
                  </div>
                  <img 
                    [src]="getImage(this.pcConfiguratorService.getProduct('pc-towers-and-enclosures')?.image)" 
                    alt="Imagen del producto"
                    class="w-12 h-12"
                  >
                  <p class="text-black text-md">{{ this.pcConfiguratorService.getProduct('pc-towers-and-enclosures')?.name }}</p>
                } @else {
                  <mat-icon fontIcon="add" />
                  <p>Seleccionar componente</p>
                }
              </div>
            </div>
  
          </div>
        } @else if (assemblyTabActive) {
          <div class="grid grid-cols-2 gap-x-5 gap-y-8">

            <form class="col-span-2" [formGroup]="assemblyForm">
              <div 
                class="bg-white rounded-md py-5 px-5 gap-3 accent-red-600"
              >
                <label for="assembly" class="flex items-center gap-3 cursor-pointer">
                  <input 
                    type="checkbox" name="assembly" id="assembly" class="scale-[1.2]" 
                    formControlName="assembly" (change)="onChangeAssembly()"
                  >
                  <mat-icon fontIcon="build"/>
                  AÑADIR MONTAJE
                </label>
              </div>
            </form>
  
          </div>
        }

      </div>
    </div>

    <div class="flex flex-col md:flex-row gap-3 md:justify-between bg-white rounded-md p-3">

      <div class="flex flex-col gap-3 lg:flex-row lg:gap-5">
        <div class="flex items-center gap-3">
          <div class="border border-neutral-300 rounded-full p-2 flex items-center">
            <mat-icon fontIcon="local_shipping" />
          </div>
          <p class="font-medium text-base">Gastos de envío: <span class="font-normal">{{ getShippingCost() | currency:'EUR' }}</span></p>
        </div>
  
        <div class="flex items-center gap-3">
          <div class="border border-neutral-300 rounded-full p-2 flex items-center">
            <mat-icon fontIcon="local_shipping" />
          </div>
          <p class="font-medium text-base">Tiempo de montaje y de envío: <span class="font-normal">8 - 13 días laborables</span></p>
        </div>
      </div>

      <div class="flex flex-col gap-3 md:flex-row md:items-center md:gap-5">
        <p class="font-medium text-base">Total: <span class="font-normal">{{ getTotal() | currency:'EUR'}}</span></p>
        
        <button 
          class="bg-amber-500 rounded-md px-3 py-2 text-white" 
          (click)="addToCart()"
        >
          Añadir a la cesta
        </button>
      </div>
      
    </div>
</div>