@if(order) {
  <div class="p-5 flex flex-col items-center gap-3">
    <div>
      <mat-icon fontIcon="verified" class="text-green-500 !text-8xl !w-full !h-full"></mat-icon>
    </div>
    <h1 class="text-2xl font-bold">Pago realizado con éxito</h1>
    <p class="text-lg">¡Muchas gracias por confiar en nosotros!</p>
  </div>
} @else {
  <div class="p-5 flex flex-col items-center gap-3">
    <div>
      <mat-icon fontIcon="cancel" class="text-red-600 !text-8xl !w-full !h-full"></mat-icon>
    </div>
    <h1 class="text-2xl font-bold">Error al realizar el pago</h1>
    <p class="text-lg">A continuación, se va a realizar la cancelación del pedido</p>
  </div>
}

