<div class="p-5 flex flex-col justify-center gap-3 flex-1">
  <div class="flex flex-col gap-3">
    <div class="flex gap-3">
      <h1 class="text-2xl font-bold">Asignación de pedidos</h1>
      <button 
        class="flex items-center justify-center" 
        type="button" 
        (click)="openAddtionalInfoPopUpForOrderAssigment()"
      >
        <mat-icon fontIcon="info"></mat-icon>
      </button>
    </div>
    @if(unassignedOrders.length != 0) {
      <p class="text-lg">Selecciona un pedido para asignarlo a un trabajador</p>
    }
  </div>

  <div class="flex flex-col gap-3">
    @for (unassignedOrder of unassignedOrders; track unassignedOrder.id) {
      <div 
        class="flex flex-col sm:flex-row justify-between p-3 gap-2 shadow-md bg-white rounded-lg cursor-pointer transition-shadow hover:shadow-lg" 
        (click)="goToSelectEmployee(unassignedOrder.id)"
      >
        <div class="flex gap-3">
          <img 
            [src]="getImage(unassignedOrder.imagen)" 
            alt="Imagen producto pedido"
            class="w-20 border"
          >
          <div class="flex flex-col">
            <p class="text-black">Nº Pedido {{ unassignedOrder.id }}</p>
            <p class="text-neutral-500">{{ getFormattedDate(unassignedOrder.fecha_creacion) }}</p>
          </div>
        </div>
        <p class="text-black font-medium">Total: {{ unassignedOrder.total | currency:'EUR' }}</p>
      </div>
    } @empty {
      <div class="flex flex-col text-center">
        <div class="flex items-center justify-center">
          <mat-icon class="material-symbols-outlined text-7xl !w-full !h-full" fontIcon="orders" />
        </div>
        <p class="text-xl">No hay pedidos que falten por ser asignados</p>
      </div>
    }
  </div>
  
</div>