<div class="flex flex-1 min-h-full">
  <div class="w-[60%] py-10 pl-20">
    <div>
      <div class="flex items-center gap-1 text-lg">
        <p class="flex items-center justify-center gap-1 text-xl">
          <span>Envío</span> 
          <mat-icon fontIcon="arrow_forward_ios" class="!text-xs !flex !items-center !justify-center" />
          <span class="text-red-500">Pago</span>
        </p>
      </div>
    </div>
    
    <form class="py-10 w-[95%] flex flex-col gap-5" [formGroup]="paymentForm">
      <p class="font-medium text-base">Seleccione una opción de pago</p>
      <div class="flex flex-col gap-4">
        @for (paymentOption of paymentOptions; track paymentOption.id) {
          <div class="border rounded-md px-4 py-3 flex justify-between items-center">
            <div>
              <label [for]="paymentOption.valor" class="flex items-center gap-5 cursor-pointer">
                <input 
                  type="radio" [id]="paymentOption.valor" name="paymentOption" formControlName="paymentOption" 
                  [value]="paymentOption" class="w-5 h-5 accent-red-600 cursor-pointer"
                  (change)="onChangePaymentOption(paymentOption)"
                >
                <img [src]="getImage(paymentOption.imagen)" class="w-12">
                {{ paymentOption.descripcion }}
              </label>
            </div>
            <button 
              class="flex items-center justify-center" 
              type="button" 
              (click)="openAddtionalInfoPopUp(paymentOption)"
            >
              <mat-icon fontIcon="info"></mat-icon>
            </button>
          </div>
        }
      </div>

      @if(paymentOptionIsSelected()) {
        <button 
          class="self-end border py-2 px-3 rounded-md bg-red-600 
        text-white transition-transform active:scale-95 shadow-sm hover:bg-red-700
          flex justify-center items-center gap-3"
          type="button"
          (click)="processOrderAndChangeToProcessOrderStep()"
        >
          @if(isLoading) {
            <mat-progress-spinner mode="indeterminate" diameter="25"></mat-progress-spinner>
          }
          <span>Continuar</span>
        </button>
      }
    </form>
  </div>
  
  <div class="bg-gray-200 w-[40%] py-10 px-10 flex flex-col gap-3">
    <h1 class="text-xl">Resumen del pedido</h1>
    <hr class="w-full border border-gray-300">

    <h2 class="text-xl">Artículos</h2>
    <p>{{ getTotalItems() }} artículos</p>
    <div class="flex flex-col gap-5">
      @for(pc of pcs; track pc.id) {
        <div class="grid grid-cols-5 gap-4">
          <img 
            [src]="getImage(getBox(pc)?.image)" 
            alt="Imagen producto"
            class="w-full"
          >
          <div class="col-span-3 flex flex-col justify-between">
            <p>Ordenador personalizado</p>
            <div class="text-sm">
              <p class="text-neutral-400">Ordenador ByteShop</p>
              <p class="text-neutral-400">1 ud.</p>
            </div>
          </div>
          <div class="text-end">
            @if(someComponentHasDiscount(pc)) {
              {{ getTotalWithDiscount(pc) | currency:'EUR' }}
            } @else {
              {{ getTotalWithoutDiscount(pc) | currency:'EUR' }}
            }
          </div>
        </div>
      }
      @for (item of cartProducts; track item.id) {
        <div class="grid grid-cols-5 gap-4">
          <img 
            [src]="getImage(item.image)" 
            alt="Imagen producto"
            class="w-full"
          >
          <div class="col-span-3 flex flex-col justify-between">
            <p>{{ item.name }}</p>
            <div class="text-sm">
              <p class="text-neutral-400">{{ item.category }}</p>
              <p class="text-neutral-400">{{ item.units }} ud.</p>
            </div>
          </div>
          <div class="text-end">
            @if(item.discount) {
              {{ item.price * item.units * (100 - item.discount) / 100 | currency:'EUR' }}
            } @else {
              {{ item.price * item.units | currency:'EUR' }}
            }
          </div>
        </div>
      }
    </div>

    <hr class="w-full border border-gray-300">
    <div class="flex flex-col gap-5">
      <div class="flex justify-between">
        <p>Precio de los productos</p>
        <p class="font-medium">{{ getCartTotal() | currency:'EUR' }}</p>
      </div>
      <div class="flex justify-between">
        <p>Gastos de envío</p>
        @if(shippingOptionIsSelected()) {
          <p class="font-medium">{{ getShippingOptionCost() | currency:'EUR' }}</p>
        } @else if(shippingMethodIsShopPickUp()) {
          <p class="font-medium">0,00 €</p>
        } @else {
          <p class="font-medium">Por calcular</p>
        }
      </div>
    </div>

      <hr class="w-full border border-gray-300">
      <div class="flex justify-between text-xl font-medium">
        <p>Total (IVA incluido)</p>
        <p>{{ getTotalWithTax() | currency:'EUR' }}</p>
      </div>

      @if(shippingMethodIsSelected()) {
        <div class="flex flex-col gap-5">
          <p class="text-xl">Envío</p>
          <div>
            <p class="text-neutral-400">Método de envío</p>
            <p>{{ this.getShippingMethodDescription() }}</p>
          </div>
          @if(addressIsSelected()) {
            <div>
              <p class="text-neutral-400">Dirección de facturación</p>
              <div>
                <p class="font-medium">{{ this.getAddressName() }}</p>
                <p>{{ this.getAddressDescription() }}</p>
              </div>
            </div>
          }
          @if(shippingOptionIsSelected()) {
            <div>
              <p class="text-neutral-400">Opción de envío</p>
              <p>{{ this.getShippingOptionDescription() }}</p>
            </div>
          }
        </div>
      }
  </div>
</div>