<mat-card class="p-4 max-w-[300px]">
  <div class="relative mb-5">
    @if(product?.discount !== 0) {
      <div class="absolute top-3 left-3 bg-red-600 rounded-full px-2">
        <span class="text-sm text-white">Dto. {{ product?.discount }}%</span>
      </div>
    }
    <img src="https://placehold.co/300x300" alt="" class="mb-3">
    <p class="line-clamp-2">{{ product?.description }}</p>
  </div>
  <div>
    <div [ngClass]="{ 'invisible': product?.discount === 0 }" class="text-slate-500 underline line-through invisible">{{ (product!.price * product!.units) | currency:'EUR' }}</div>
    <div class="text-red-600 mb-2">{{ (product!.price * product!.units) | currency:'EUR' }}</div>
    <button
      mat-button
      disableRipple="true"
      (click)="onAddProductToCart()"
      class="!w-full !bg-red-600 !active:bg-red-800 !text-white !py-1 !mt-1 !rounded-md">Añadir</button>
  </div>
</mat-card>
