<div class="p-4 bg-white rounded-lg max-w-[300px] shadow-lg mb-2">
  <div class="relative mb-5 cursor-pointer" routerLink="/product" [state]="product">
    @if(product?.discount) {
    <div class="absolute top-2 left-2 bg-red-600 rounded-full px-2.5">
      <span class="text-sm font-medium text-white">Dto. {{ product?.discount }}%</span>
    </div>
    }
    <img
      [src]="'http://localhost:8080/images/' + product?.image"
      alt="Imagen del producto"
      class="mb-3"
    />
    <p class="line-clamp-2 font-medium">{{ product?.name }}</p>
  </div>
  <div>
    @if(product?.discount) {
    <div class="text-slate-500 line-through">
      {{ product!.price | currency : "EUR" }}
    </div>
    <div class="text-red-600 mb-2 text-xl">
      {{ (product!.price * (100 - product!.discount)) / 100 | currency : "EUR" }}
    </div>
    } @else {
    <div class="invisible text-slate-500 line-through">
      {{ product!.price }}
    </div>
    <div class="text-red-600 mb-2 text-xl">
      {{ product!.price | currency : "EUR" }}
    </div>
    }
    <button
      mat-button
      disableRipple="true"
      (click)="onAddProductToCart()"
      class="!w-full !bg-red-600 !active:bg-red-800 !text-white !py-1 !mt-1 !rounded-md"
    >
      Añadir
    </button>
  </div>
</div>
