<div class="p-5 relative">
  <h1 class="mb-2 text-2xl font-bold">Eliminar producto</h1>
  <p class="mb-5 text-base">¿Esta seguro de querer eliminar el producto?</p>
  <div class="flex justify-end gap-3">
    <button class="rounded bg-gray-300 hover:bg-gray-400 p-2 text-black outline-0 transition active:scale-95"
      (click)="closeDialog()">Cancelar</button>
    <button class="bg-blue-500 hover:bg-blue-600 rounded p-2 text-white transition active:scale-95"
      (click)="deleteProduct()">Aceptar</button>
  </div>
</div>