<div class="p-5">
  <div class="flex items-center">
    <button mat-icon-button class="mr-8" (click)="changeOpened()">
      <mat-icon>close</mat-icon>
    </button>
    <img src="/img/byteShopLogo.png" alt="Logo de la tienda" class="w-[150px]">
  </div>
  <div class="my-5">
    <mat-action-list>
      <mat-list-item class="!mb-1">
        <img src="img/motherboard.png" class="!w-8 !h-8" alt="Icono de una placa base" matListItemIcon>
        <span matListItemTitle>Placas base</span>
      </mat-list-item>
      <mat-list-item class="!mb-1">
        <img src="img/cpu.png" class="!w-8 !h-8" alt="Icono de un procesador" matListItemIcon>
        <span matListItemTitle>Procesadores</span>
      </mat-list-item>
      <mat-list-item class="!mb-1">
        <img src="img/hdd.png" class="!w-8 !h-8" alt="Icono de un procesador" matListItemIcon>
        <span matListItemTitle>Discos duros</span>
      </mat-list-item>
      <mat-list-item class="!mb-1">
        <img src="img/ssd-card.png" class="!w-8 !h-8" alt="Icono de un procesador" matListItemIcon>
        <span matListItemTitle>Discos SSD</span>
      </mat-list-item>
      <mat-list-item class="!mb-1">
        <img src="img/graphic-card.png" class="!w-8 !h-8" alt="Icono de un procesador" matListItemIcon>
        <span matListItemTitle>Tarjetas gráficas</span>
      </mat-list-item>
      <mat-list-item class="!mb-1">
        <img src="img/ram-memory.png" class="!w-8 !h-8" alt="Icono de un procesador" matListItemIcon>
        <span matListItemTitle>Memorias RAM</span>
      </mat-list-item>
      <mat-list-item class="!mb-1">
        <img src="img/power-supply.png" class="!w-8 !h-8" alt="Icono de un procesador" matListItemIcon>
        <span matListItemTitle>Fuentes de alimentación</span>
      </mat-list-item>
      <mat-list-item class="!mb-1">
        <img src="img/computer-case.png" class="!w-8 !h-8" alt="Icono de un procesador" matListItemIcon>
        <span matListItemTitle>Torres</span>
      </mat-list-item>
      <mat-list-item class="!mb-1">
        <img src="img/fan.png" class="!w-8 !h-8" alt="Icono de un procesador" matListItemIcon>
        <span matListItemTitle>Ventiladores</span>
      </mat-list-item>

     </mat-action-list>
  </div>
</div>
