<div class="flex flex-col gap-5">
  <div class="flex justify-between items-center">
    <h1 class="text-2xl">Direcciones</h1>
    <button class="bg-amber-500 rounded p-2 text-white"
      (click)="changeToAddressCreateComponent()">Añadir dirección</button>
  </div>
  <div class="flex flex-col gap-4">
    @for (address of addresses; track address.id) {
      <div class="flex flex-col gap-3 border rounded-md p-4 py-2 shadow-md bg-white border-gray-400 transition-all hover:border-amber-500 hover:shadow-lg">
        <div class="flex justify-between items-center">
          <h2 class="text-xl font-medium">{{ address.nombre }}</h2>
          <button mat-icon-button (click)="deleteAddress(address.id)">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
        <div>
          <p class="text-base">{{ address.direccion }}</p>
          <p class="text-base">{{ address.ciudad }}, {{ address.provincia }} {{ address.cod_postal }}</p>
          <p class="text-base">Número de teléfono: {{ address.telefono }}</p>
        </div>
      </div>
    } @empty {
      <p class="text-gray-500">Todavía no tienes ninguna dirección</p>
    }
  </div>
</div>