<div class="h-full p-5 lg:container lg:mx-auto flex flex-col gap-5">
  <div class="flex flex-col sm:flex-row gap-3 sm:gap-5">
    <div>
      <img [src]="getImage(product?.image)" alt="Imagen del producto" class="sm:max-w-72 sm:max-h-72 md:max-w-sm md:max-h-none lg:max-w-md" />
    </div>
    <div class="flex flex-col gap-3 sm:flex-1">
      @if(product?.discount) {
        <div class="bg-red-600 rounded-full px-2.5">
          <span class="text-sm font-medium text-white">Dto. {{ product?.discount }}%</span>
        </div>
      }
      <p class="text-base">Marca: <span class="text-red-500 font-medium">{{ product?.brand }}</span></p>
      <div>
        <h1 class="text-2xl font-medium leading-9">{{ product?.name }}</h1>
        <p class="text-gray-500 text-base">{{ product?.category }}</p>
      </div>
      <div class="flex flex-col gap-2">
        @if(product?.discount) {
          <div>
            <p class="line-through text-gray-400 text-lg">{{ product?.price | currency:'EUR' }}</p>
            <p class="text-2xl font-medium">Total: {{ product!.price * (100 - product!.discount) / 100 | currency:'EUR' }}</p>
          </div>
        } @else {
          <p class="text-2xl font-medium">Total: {{ product?.price | currency:'EUR' }}</p>
        }
        <button 
          class="w-full bg-red-600 py-2 rounded-md text-white text-lg transition-transform 
          active:scale-95 shadow-sm hover:bg-red-700 md:max-w-lg"
          (click)="addProductToCart()">
          Añadir a la cesta
        </button>
      </div>
    </div>
  </div>
  <div class="flex flex-col gap-2">
    <h1 class="text-xl font-medium">Descripción del producto</h1>
    <p class="text-lg">{{product?.description}}</p>
  </div>
</div>