<div class="flex gap-16 h-full">
  <div class="w-[500px] p-10
    bg-gradient-to-b from-[#E04AB7] to-[#FF9B48]
    text-white flex flex-col">
    <div class="basis-12">
      <button routerLink="/home">
        <mat-icon class="text-white text-xl">arrow_back</mat-icon>
      </button>
    </div>
    <div class="basis-44">
      <img src="img/byteShopLogo.png" alt="Logo de la tienda" class="w-[150px]">
    </div>
    <div class="flex flex-col gap-5">
      <h2 class="text-2xl">Indentifícate o crea una nueva cuenta</h2>
      <p>Con tu cuenta de usuario podrás:</p>
      <ul class="flex flex-col gap-5">
        <li>
          <div class="flex gap-5 items-center">
            <div class="flex items-center">
              <mat-icon>verified</mat-icon>
            </div>
            <p class="text-lg">Realizar los pedidos de la cesta</p>
          </div>
        </li>
        <li>
          <div class="flex gap-5 items-center">
            <div class="flex items-center">
              <mat-icon>verified</mat-icon>
            </div>
            <p class="text-lg">Establecer alertas de disponibilidad y nuevos lanzamientos</p>
          </div>
        </li>
      </ul>
    </div>
    <div class="mt-auto">
      <p>©2024 BYTESHOP</p>
    </div>
  </div>
  <div class="my-auto">
    <app-login-form></app-login-form>
  </div>
</div>
