<div class="flex flex-col gap-5 p-5">
  <div class="flex w-full justify-between items-center">
    <h1 class="text-xl font-medium">Filtrar</h1>
    <button mat-icon-button class="!flex !justify-center !items-center"
      (click)="closeFiltersSideNav()">
      <mat-icon fontIcon="close"></mat-icon>
    </button>
  </div>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>Ordenar</mat-panel-title>
    </mat-expansion-panel-header>
    <select name="order-filter" id="order-filter" 
      class="w-full p-2 rounded-md border border-slate-200"
      (change)="selectOrderBy($event)">
      <option value="LOWER_PRICE">Menor precio</option>
      <option value="GREATER_PRICE">Mayor precio</option>
      <option value="STOCK">Stock</option>
      <option value="DISCOUNT">Descuento</option>
    </select>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>Precio</mat-panel-title>
    </mat-expansion-panel-header>
    <div>
      <mat-slider min="0" [max]="maxLimit" class="!w-[95%]">
          <input [(value)]="minPriceValue" matSliderStartThumb (input)="minValueChanged($event)">
          <input [(value)]="maxPriceValue" matSliderEndThumb (input)="maxValueChanged($event)">
      </mat-slider>  
      <div class="flex justify-between items-center mt-2">
        <input type="text" name="start" id="start" 
          disabled 
          [value]="minPriceValue | currency:'EUR':'symbol':'1.0'"
          class="w-36 border border-gray-200 bg-white rounded-md py-[6px] text-center">
        <p>-</p>
        <input type="text" name="end" id="end" 
          disabled 
          [value]="maxPriceValue | currency:'EUR':'symbol':'1.0'"
          class="w-36 border border-gray-200 bg-white rounded-md py-[6px] text-center">
      </div>
    </div>  
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>Categoría</mat-panel-title>
    </mat-expansion-panel-header>
    @for (category of categories; track category.id) {
      <label [for]="category.nombre" class="cursor-pointer flex items-center mb-2"> 
        <input type="radio" name="category" [id]="category.nombre" [value]="category.id" 
        class="w-5 h-5 rounded-sm mr-2 cursor-pointer accent-red-500" (click)="selectCategory(category)"> 
        {{ category.nombre }}
      </label>
    }
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>Marca</mat-panel-title>
    </mat-expansion-panel-header>
    <div class="grid grid-cols-2 gap-y-1">
      @for (brand of brands; track brand.id) {
        <label [for]="brand.nombre" class="cursor-pointer flex items-center">
          <input type="checkbox" [name]="brand.nombre" [id]="brand.nombre" 
            class="w-5 h-5 rounded-sm mr-2 cursor-pointer accent-red-500" (click)="upsertBrandToFilters(brand)">
          {{ brand.nombre }}
        </label>
      }
    </div>
  </mat-expansion-panel>
  <div class="flex-1 place-content-end">
    <div class="flex flex-col md:flex-row gap-3 justify-evenly">
      <button class="border border-gray-200 rounded-md py-2 flex-auto transition hover:border-gray-400 active:scale-95"
        (click)="clearFilters()">Borrar filtros</button>
      <button class="bg-red-600 text-white rounded-md py-2 flex-auto transition hover:bg-red-700 active:scale-95" 
        (click)="applyFilters()">Aplicar filtros</button>
    </div>
  </div>
</div>