<div class="p-5 w-[400px] relative">
  <h1 class="mb-2 text-2xl">Cambiar estado del montaje de los PCs del pedido</h1>
  <p class="mb-5 text-base">¿Esta seguro de querer cambiar el estado de los PCs de este pedido a montado?</p>
  <div class="flex justify-end gap-3">
    <button class="rounded bg-gray-300 hover:bg-gray-400 p-2 text-black outline-0"
      (click)="closeDialog()">Cancelar</button>
    <button class="bg-amber-500 hover:bg-amber-600 rounded p-2 text-white"
      (click)="changeAssembledStatus()">Aceptar</button>
  </div>
</div>
