<div class="p-[20px] bg-slate-100">
  <div class="w-full flex justify-end">
    <button class="flex justify-center gap-2 rounded-md px-3 py-2 
    transition-transform active:scale-95 bg-gray-200 hover:bg-gray-300 mb-3"
    (click)="changeFilterMenuOpenedState()">
      <mat-icon fontIcon="filter_alt"></mat-icon>
      <button>Filtrar y ordenar</button>
    </button>
  </div>
  <div class="grid products-grid gap-x-6 place-items-center gap-y-4">
    @for (product of products; track product.id) {
      <app-product-box [product]="product"></app-product-box>
    }
  </div>
</div>