<div class="p-5 flex flex-col justify-center gap-3">
  <div class="flex flex-col gap-3">
    <h1 class="text-2xl font-bold">Pedidos asignados a mi</h1>
    @if(isDeliveryEmployee() && assignedOrders.length !== 0) {
      <p class="text-lg">Elija el pedido a ser enviado</p>
    } @else if(isAssemblerEmployee() && assignedOrders.length !== 0) {
      <p class="text-lg">Elija el pedido para indicar que los PCs de dicho pedido ya están montados</p>
    }
  </div>

  <div class="flex flex-col gap-3">
    @for (assignedOrder of assignedOrders; track assignedOrder.id) {
      <div 
        class="flex flex-col sm:flex-row justify-between p-3 gap-2 shadow-md bg-white rounded-lg cursor-pointer transition-shadow hover:shadow-lg" 
        (click)="openDialog(assignedOrder.id)"
      >
        <div class="flex gap-3">
          <img 
            [src]="getImage(assignedOrder.imagen)" 
            alt="Imagen producto pedido"
            class="w-20 border"
          >
          <div class="flex flex-col">
            <p class="text-black">Nº Pedido {{ assignedOrder.id }}</p>
            <p class="text-neutral-500">{{ getFormattedDate(assignedOrder.fecha_creacion) }}</p>
          </div>
        </div>
        <p class="text-black font-medium">Total: {{ assignedOrder.total | currency:'EUR' }}</p>
      </div>
    } @empty {
      <div class="flex flex-col text-center">
        <div class="flex items-center justify-center">
          <mat-icon class="material-symbols-outlined text-7xl !w-full !h-full" fontIcon="orders" />
        </div>
        <p class="text-xl">No tiene ningún pedido asignado</p>
      </div>
    }
  </div>
</div>
