<form [formGroup]="productSelectionForm" (ngSubmit)="onSubmit()" class="h-full flex flex-col">
  <div class="flex flex-col gap-5 mb-5">
    <div class="flex-grow flex flex-col gap-4">
      <h1 class="text-2xl font-bold">{{ getCategoryName() }}</h1>
      <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-3">
        <input 
          type="search" 
          name="searchByText" 
          id="searchByText" 
          placeholder="Buscar... Mínimo 3 caracteres"
          class="px-3 py-2 rounded-sm border border-neutral-300 flex-1 outline-none focus:border-red-600"
          formControlName="searchByText"
          (input)="onInputSearchByText()"
        >
        <select 
          name="brands" 
          id="brands" 
          class="px-3 py-2 rounded-sm border border-neutral-300 flex-1 outline-none bg-white"
          formControlName="brand"
          (change)="onChangeBrand()"
        >
          <option value="0">Todas las marcas</option>
          @for (brand of brands; track brand.id) {
            <option [value]="brand.id">{{ brand.nombre }}</option>
          }
        </select>
        <select 
          name="orderBy" 
          id="orderBy"
          class="px-3 py-2 rounded-sm border border-neutral-300 flex-1 outline-none bg-white"  
          orderBy="orderBy"
          (change)="onChangeOrderBy()"
        >
          <option value="LOWER_PRICE">Precio menor</option>
          <option value="GREATER_PRICE">Precio mayor</option>
          <option value="STOCK">Stock</option>
          <option value="DISCOUNT">Descuento</option>
        </select>
        <select 
          name="compatibility" 
          id="compatibility"
          class="px-3 py-2 rounded-sm border border-neutral-300 flex-1 outline-none bg-white"
          formControlName="compatibility"
          (change)="onChangeCompatibility()"
        >
          <option value="ALL">Todos</option>
          <option value="COMPATIBLE">Solo compatibles</option>
        </select>
      </div>
      <p>{{ getNumberOfResults() }} resultados</p>
      <div class="flex flex-col gap-3">
  
        @for (product of products; track product.id) {
          <div class="rounded-md border border-neutral-300 bg-white p-5">
            <label [for]="product.id" class="flex items-center gap-4 cursor-pointer">
              <input 
                type="radio" name="product" [id]="product.id" [value]="product.id" 
                class="accent-blue-500 scale-[1.2]" formControlName="product"
                (change)="onChangeProduct(product)"
              >
              <img [src]="getImage(product.image)" alt="Imagen del producto" class="w-20 h-20 sm:w-24 sm:h-24">
              <div class="flex flex-col gap-2">
                <h1 class="text-lg font-semibold">{{ product.name }}</h1>
                <div class="flex flex-col gap-1">
                  @if(product.discount > 0) {
                    <div class="flex flex-col">
                      <p class="line-through text-sm">{{ product!.price | currency:"EUR" }}</p>
                      <p class="text-lg">{{ (product!.price * (100 - product!.discount)) / 100 | currency:"EUR" }}</p>
                    </div>
                    <div class="text-white bg-red-600 px-3 rounded-full w-fit">
                      Dto. {{ product.discount }} %
                    </div>
                  } @else {
                    <p>{{ product.price | currency:"EUR" }}<p>
                  }
                </div>
              </div>
            </label>
          </div>
        }
  
      </div>
    </div>
  
    @if(productIsSelected()) {
      <div class="p-4 bg-gray-200 rounded-md flex flex-col gap-3">
        <div class="flex flex-col sm:flex-row gap-3">
          <img [src]="getImage(selectedProduct!.image)" alt="Imagen del producto" class="sm:max-w-52 sm:max-h-52 md:max-w-60 md:max-h-60 lg:max-w-72 lg:max-h-72">
          <div class="flex flex-col gap-3">
            <h1 class="text-2xl font-semibold">{{ selectedProduct?.name }}</h1>
            @if(selectedProduct!.discount > 0) {
              <div class="font-medium">
                <p class="line-through text-neutral-500 text-lg">{{ selectedProduct!.price | currency:"EUR" }}</p>
                <p class="text-xl">Total: {{ (selectedProduct!.price * (100 - selectedProduct!.discount)) / 100 | currency:"EUR" }}</p>
              </div>
            } @else {
              <p class="text-xl font-medium">Total: {{ selectedProduct!.price | currency:"EUR" }}</p>
            }
          </div>
        </div>
        <p>{{ selectedProduct?.description }}</p>
      </div>
    }
  </div>

  @if(productIsSelected()) {
    <div class="flex flex-col md:flex-row gap-3 md:justify-between bg-white rounded-md p-3">

      <div class="flex flex-col gap-3 lg:flex-row lg:gap-5">
  
        <div class="flex items-center gap-3">
          <div class="border border-neutral-300 rounded-full p-2 flex items-center">
            <mat-icon fontIcon="local_shipping" />
          </div>
          <p class="font-medium text-base">Gastos de envío: <span class="font-normal">4,95 €</span></p>
        </div>
  
        <div class="flex items-center gap-3">
          <div class="border border-neutral-300 rounded-full p-2 flex items-center">
            <mat-icon fontIcon="local_shipping" />
          </div>
          <p class="font-medium text-base">Tiempo de montaje y de envío: <span class="font-normal">8 - 13 días laborables</span></p>
        </div>
      </div>

      <div class="flex flex-col gap-3 md:flex-row md:items-center md:gap-5">
        @if(selectedProduct!.discount > 0) {
          <p class="font-medium text-base">Total: <span class="font-normal">{{ (selectedProduct!.price * (100 - selectedProduct!.discount)) / 100 | currency:"EUR" }}</span></p>
        } @else {
          <p class="font-medium text-base">Total: <span class="font-normal">{{ selectedProduct?.price | currency:"EUR" }}</span></p>
        }
        <button class="bg-blue-500 hover:bg-blue-600 rounded-md px-3 py-2 text-white transition active:scale-95">Añadir producto</button>
      </div>
      
    </div>
  }
</form>