<div class="px-10 py-5 flex flex-col justify-center gap-5">
  <div class="flex flex-col gap-3">
    <h1 class="text-2xl font-medium">Pedidos en proceso de envío</h1>
    @if(ordersInShipping.length !== 0) {
      <p class="text-lg">Eliga el pedido con el cual haya acabado su proceso de envío</p>
    }
  </div>

  <div class="flex flex-col gap-3">
    @for (orderInShipping of ordersInShipping; track orderInShipping.id) {
      <div 
        class="flex items-center justify-between p-3 shadow-md bg-white rounded-lg cursor-pointer transition-shadow hover:shadow-lg" 
        (click)="openDialog(orderInShipping.id)"
      >
        <div class="flex items-center gap-14">
          <div class="flex item items-center gap-5">
            <img 
            [src]="getImage(orderInShipping.imagen)" 
            alt="Imagen producto pedido"
            class="w-20 border"
            >
            <p class="text-black">Nº Pedido {{ orderInShipping.id }}</p>
          </div>
          <p class="text-neutral-500">{{ getFormattedDate(orderInShipping.fecha_creacion) }}</p>
        </div>
        <p class="text-black font-medium">{{ orderInShipping.total | currency:'EUR' }}</p>
      </div>
    } @empty {
      <p class="text-xl">No tiene ningún pedido en proceso de envío en este momento</p>
    }
  </div>
</div>