<div class="flex">
  <!-- COLUMNA 1 -->
  <div class="w-[60%] fix-height py-10 pl-20">
    @switch (checkoutSteps) {
      @case(0) {
        <div>
          <div class="flex items-center gap-1 text-lg">
            <p class="flex items-center justify-center gap-1 text-xl">
              <span>Envío</span> 
              <mat-icon fontIcon="arrow_forward_ios" class="!text-xs !flex !items-center !justify-center" />
              <span class="text-zinc-400">Pago</span>
            </p>
          </div>
        </div>
        <form class="py-10 w-[95%] flex flex-col" [formGroup]="selectionForm">
          <p class="font-medium text-base mb-5">Elige tu forma de envío</p>
          @for (shippingMethod of shippingMethods; track shippingMethod.id) {
            <div class="flex flex-col mb-5">
              <div class="border rounded-md px-4 py-3 flex justify-between">
                <div class="flex items-center gap-5">
                  <label [for]="shippingMethod.valor" class="cursor-pointer flex items-center justify-center gap-5">
                    <input type="radio" [id]="shippingMethod.valor" name="shippingMethod" formControlName="shippingMethod" [value]="shippingMethod"
                    class="w-5 h-5 accent-red-600 cursor-pointer" (change)="onChangeShippingMethod()">
                    <span>{{ shippingMethod.descripcion }}</span>
                  </label>
                </div>
                @if(shippingMethod.coste) {
                  <div>{{ shippingMethod.coste | currency:'EUR' }}</div>
                } @else {
                  <div class="text-green-400">Gratis</div>
                }
              </div>
            </div>
          }
          
          @if(shippingMethodIsHomeDelivery()) {
            <p class="font-medium text-base mb-5">Elige una dirección de envío</p>
            @for (address of addresses; track address.id) {
              <div class="flex flex-col gap-4 mb-5">
                <div class="border rounded-md px-4 py-3">
                  <label [for]="address.id" class="flex items-center gap-5 cursor-pointer">
                    <input type="radio" [id]="address.id" name="address" formControlName="address" 
                      [value]="address" class="w-5 h-5 accent-red-600 cursor-pointer">
                    <div>
                      <p class="font-medium">{{ address.nombre }}</p>
                      <p>{{ address.direccion }}, {{ address.provincia }}, {{ address.ciudad }}, Tel: {{address.telefono}}</p>
                    </div>
                  </label>
                </div>
              </div>
            }
      
            <p class="font-medium text-base mb-5">Elige una opción de envío</p>
            @for (shippingOption of shippingOptions; track shippingOption.id) {
              <div class="flex flex-col gap-4 mb-5">
                <div class="border rounded-md px-4 py-3 gap-5 flex justify-between">
                  <label [for]="shippingOption.valor" class="flex gap-4 cursor-pointer">
                    <input type="radio" [id]="shippingOption.valor" name="shippingOption" 
                      formControlName="shippingOption" [value]="shippingOption" class="w-5 h-5 accent-red-600 cursor-pointer">
                    <img [src]="'http://localhost:8080/images/' + shippingOption.imagen" class="w-12">
                    {{ shippingOption.descripcion }}
                  </label>
                  @if(shippingOption.coste) {
                    <div>{{ shippingOption.coste | currency:'EUR' }}</div>
                  } @else {
                    <div class="text-green-400">Gratis</div>
                  }
                </div>
              </div>
            }
          }
    
          @if(selectionFormIsValid()) {
            <button class="self-end border py-2 px-5 rounded-md bg-red-600 
            text-white transition-transform active:scale-95 shadow-sm hover:bg-red-700"
              type="button"
              (click)="changeToPaymentStep()"
            >
              Continuar
            </button>
          }
          
        </form>
      }
      @case(1) {
        <div>
          <div class="flex items-center gap-1 text-lg">
            <p class="flex items-center justify-center gap-1 text-xl">
              <span>Envío</span> 
              <mat-icon fontIcon="arrow_forward_ios" class="!text-xs !flex !items-center !justify-center" />
              <span class="text-red-500">Pago</span>
            </p>
          </div>
        </div>
        <form class="py-10 w-[95%] flex flex-col" [formGroup]="paymentForm">
          <p class="font-medium text-base mb-5">Seleccione una opción de pago</p>
          <div class="flex flex-col gap-4 mb-10">
            @for (paymentOption of paymentOptions; track paymentOption.id) {
              <div class="border rounded-md px-4 py-3 flex justify-between items-center">
                <div>
                  <label [for]="paymentOption.valor" class="flex items-center gap-5 cursor-pointer">
                    <input 
                      type="radio" [id]="paymentOption.valor" name="paymentOption" formControlName="paymentOption" 
                      [value]="paymentOption" class="w-5 h-5 accent-red-600 cursor-pointer">
                    <img [src]="'http://localhost:8080/images/' + paymentOption.imagen" class="w-12">
                    {{ paymentOption.descripcion }}
                  </label>
                </div>
                <button 
                  class="flex items-center justify-center" 
                  type="button" 
                  (click)="openAddtionalInfoPopUp(paymentOption)"
                >
                  <mat-icon fontIcon="info"></mat-icon>
                </button>
              </div>
            }
          </div>
    
          @if(paymentOptionIsSelected()) {
            <button 
              class="self-end border py-2 px-5 rounded-md bg-red-600 
            text-white transition-transform active:scale-95 shadow-sm hover:bg-red-700"
              type="button"
              (click)="changeToProcessOrderStep()"
            >
              Continuar
            </button>
          }
        </form>
      }
      @case(2) {
        <div class="flex flex-col items-center gap-2 mb-5">
          <div>
            <mat-icon fontIcon="verified" class="text-green-500 !text-8xl !w-full !h-full"></mat-icon>
          </div>
          <p class="text-2xl font-medium">¡Tu pedido ha sido realizado con éxito!</p>
        </div>
        <div class="flex flex-col gap-5 mb-5">
          <p>Gracias por tu compra</p>
          <p>Te agradecemos la confianza en nuestra tienda</p>
          <div>
            <p>Número de pedido</p>
            <p class="font-medium text-neutral-500">250119182946</p>
          </div>
        </div>
        @if(paymentOptionIsCreditCard()) {
          <p class="text-lg font-medium">Por favor, complete a continuación el pago de tu pedido</p>
          <div>
            <form class="py-5 w-[95%] flex flex-col">
              <div class="border rounded-md p-5 flex flex-col gap-5">
                <p class="text-lg font-medium">Tarjeta</p>
                <div class="flex flex-col gap-1">
                  <p class="font-medium text-sm">Nombre del titular de la tarjeta</p>
                  <input 
                    class="w-full px-4 py-3 border border-gray-400 rounded-md outline-none
                    transition hover:border-red-400" 
                    type="text"
                    placeholder="Nombre Apellidos"
                  >
                </div>
    
                <div class="flex flex-col gap-1">
                  <p class="font-medium text-sm">Número de tarjeta</p>
                  <div class="flex border border-gray-400 rounded-md transition hover:border-red-400">
                    <input 
                      type="text" 
                      name="cardNumber" 
                      class="w-full rounded-md px-4 py-3 outline-none" 
                      placeholder="1234 1234 1234 1234" >
                    <div class="bg-white rounded-md flex justify-center items-center gap-1 px-3">
                      <img src="http://localhost:8080/images/visa.svg" alt="" class="w-8">
                      <img src="http://localhost:8080/images/mastercard.svg" alt="" class="w-8">
                    </div>
                  </div>
                </div>
    
                <div class="flex gap-5">
                  <div class="flex-1 flex flex-col gap-1">
                    <p class="font-medium text-sm">Fecha de caducidad</p>
                    <input 
                      class="w-full px-4 py-3 border border-gray-400 rounded-md outline-none transition hover:border-red-400" 
                      type="text"
                      placeholder="MM/AA"
                    >
                  </div>
                  <div class="flex-1  flex flex-col gap-1">
                    <p class="font-medium text-sm">Código de serguridad</p>
                    <input 
                      class="w-full px-4 py-3 border border-gray-400 rounded-md outline-none transition hover:border-red-400" 
                      type="text"
                      placeholder="CVV"
                    >
                  </div>
                </div>
    
                <button 
                  class="flex-auto bg-red-600 text-white rounded-md py-3 transition hover:bg-red-700 "
                  type="button"
                >Pagar</button>
    
              </div>
            </form>
          </div>
        }
        <div class="flex justify-center items-center gap-5">
          <button 
            class="border rounded-md py-2 px-6 transition outline-none hover:border-gray-400 active:scale-95"
            routerLink="/account/orders/active"
          >Ir a mis pedidos</button>
          <button 
            class="border rounded-md py-2 px-6 bg-red-600 text-white outline-none transition hover:bg-red-700 active:scale-95"
            routerLink="/home"
          >Seguir comprando</button>
        </div>
      }
    }
  </div>

  <!-- COLUMNA 2 -->
  <div class="bg-gray-200 w-[40%] py-10 px-10">
    @if(checkoutSteps == 0 || checkoutSteps == 1) {
      <h1 class="mb-5 text-xl">Resumen del pedido</h1>
      <hr class="w-full border border-gray-300 mb-5">

      <h2 class="text-xl">Artículos</h2>
      <p class="mb-3">{{ cartProducts.length }} artículos</p>
      <div class="flex flex-col gap-5 mb-5">
        @for (item of cartProducts; track item.id) {
          <div class="grid grid-cols-5 gap-4">
            <img 
              [src]="'http://localhost:8080/images/' + item.image" 
              alt="Imagen producto"
              class="w-full"
            >
            <div class="col-span-3 flex flex-col justify-between">
              <p>{{ item.name }}</p>
              <div class="text-sm">
                <p class="text-neutral-400">{{ item.category }}</p>
                <p class="text-neutral-400">{{ item.units }} ud.</p>
              </div>
            </div>
            <div class="text-end">
              @if(item.discount) {
                {{ item.price * item.units * (100 - item.discount) / 100 | currency:'EUR' }}
              } @else {
                {{ item.price * item.units | currency:'EUR' }}
              }
            </div>
          </div>
        }
      </div>

      <hr class="w-full border border-gray-300 mb-5">
      <div class="flex flex-col gap-5 mb-5">
        <div class="flex justify-between">
          <p>Precio de los productos</p>
          <p class="font-medium">{{ getCartTotal() | currency:'EUR' }}</p>
        </div>
        <div class="flex justify-between">
          <p>Gastos de envío</p>
          @if(shippingOptionIsSelected()) {
            <p class="font-medium">{{ getShippingOptionCost() | currency:'EUR' }}</p>
          } @else if(shippingMethodIsShopPickUp()) {
            <p class="font-medium">0,00 €</p>
          } @else {
            <p class="font-medium">Por calcular</p>
          }
        </div>
      </div>

      <hr class="w-full border border-gray-300 mb-5">
      <div class="flex justify-between mb-5 text-xl font-medium">
        <p>Total (IVA incluido)</p>
        <p>{{ getTotalWithTax() | currency:'EUR' }}</p>
      </div>

      <div class="flex flex-col gap-5">
        <p class="text-xl">Envío</p>
        <div>
          <p class="text-neutral-400">Método de envío</p>
          <p>{{ this.getShippingMethodDescription() }}</p>
        </div>
        <div>
          <p class="text-neutral-400">Opción de envío</p>
          <p>{{ this.getShippingOptionDescription() }}</p>
        </div>
        <div>
          <p class="text-neutral-400">Dirección de facturación</p>
          <div>
            <p class="font-medium">{{ this.getAddressName() }}</p>
            <p>{{ this.getAddressDescription() }}</p>
          </div>
        </div>
      </div>
    } @else {
      <div class="flex flex-col gap-7">
        <p class="text-3xl font-medium">Datos de tu pedido</p>
        <div>
          <p class="font-medium text-lg">Número de tu pedido</p>
          <p>250119182946</p>
        </div>
        <div>
          <p class="font-medium text-lg">Total</p>
          <p>{{ getTotalWithTax() | currency:'EUR' }}</p>
        </div>
        <div>
          <p class="font-medium text-lg">Método de envío</p>
          <p>{{ getShippingMethodDescription() }}</p>
        </div>
        <div>
          <p class="font-medium text-lg">Métodos de pago</p>
          <p>{{ getPaymentOptionDescription() }}</p>
        </div>
        <div>
          <p class="font-medium text-lg">Información adicional</p>
          <p>{{ getPaymentOptionAddtionalInformation() }}</p>
        </div>
      </div>
    }
  </div>
</div>
