<div class="p-5 relative flex flex-col gap-3">
  <h1 class="text-2xl font-bold">Cerrar sesión</h1>
  <p class="text-base">¿Esta seguro de querer cerrar la sesión?</p>
  <div class="flex justify-end gap-3">
    <button class="rounded bg-gray-300 hover:bg-gray-400 p-2 text-black outline-0 transition active:scale-95"
      (click)="closeDialog()">Cerrar</button>
    <button class="bg-blue-500 hover:bg-blue-600 rounded p-2 text-white transition active:scale-95"
      (click)="closeSessionAndDialog()">Cerrar sesión</button>
  </div>
</div>
